<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Condor Candy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/condorcandy.css" rel="stylesheet">
    </head>

    <body>

        {{{body}}}
        
        <script src="/js/jquery-1.11.3.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/condorcandy.js"></script>
    </body>
</html>

